<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>
.glyphicon{
    color:blue;
}
</style>

    <button type="button" class="btn btn-default btn-lg">
    <span
    class="glyphicon glyphicon-star"
    [class.glyphicon-star]="!isSelected"
    [class.glypnicon-star-empty]="!isSelected"
    (click)="onClick()">

</span>
  </button>
 
</body>
</html>
